body{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1) url(./woodback.jpg);
    background-position: center;
    background-size: 100%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
}
.navigation{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    /* the "display: flex;" was to make the logo and links be on the same line😁 */
    display: flex;
    /* when writing the code, this put the logo and the links on opposite end😁 */
    justify-content: space-between;
    /* position: sticky; */
}
.brandname{
    border-style: none;
    margin: 0px 10px;
    padding: 5px;
    color: red;
    font-family: helvetica;
    float: left;
    border-radius: 5px;
}
.navlinks ul{
  list-style-type: none;
  font-size: 17px;

}
.navlinks li{
    display: inline-block;
    /* the width here gave the space between each link */
    width: 80px;
}
.navlinks li a{
border-style: none;
border-radius: 7px;
padding: 8px;
color: white;
text-decoration: none;
font-family: helvetica;
} 
.navlinks a:hover{
    background-color: red;
    transition: 0.8s;
}
#contact{
    border-style: none;
    max-width: 40%;
    max-height: 40%;
    background-color: rgba(6, 5, 8, 0.9);
    display: flex;
    padding: 20px;
    margin: 100px;
    flex-direction: column;
    /* magically, this gap pushed the items toward the middle somehow */
    /* gap: 4.5rem; */
    margin-inline: auto;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}
#contact h2{
    text-align: center;
    background-color: red;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}


input, textarea{
    border-style: none;
    border-radius: 5px;
    background-color: rgba(159, 98, 78, 0.5);
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 90%;
    color: white;
    font-size: 16px;
}
select{
    border-style: none;
    border-radius: 5px;
    width: 20%;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.9)
}
textarea{
    resize: none;
    border-style: none;
    border-radius: 15px;
}
#submit{
    width: 30%;
    text-align: center;
    margin: 5px;
    padding: 15px;
    font-size: 17px;
    margin-left: 150px;
}
#submit:hover{
   background-color: red;
   transition: 0.7s;
}
